/* Default styles for larger screens */
.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
}

.service-card {
  width: 300px;
  height: 400px;
  margin: 16px;
}

.service-card img {
  width: 100%;
  height: 150px;
}

.service-card .card-body {
  text-align: center;
}

.service-card input {
  margin-top: 10px;
}

.service-card button {
  margin-top: 10px;
}

.add-service-card {
  width: 30px;
  height: 30px;
  margin: 16px;
  border: 2px dashed #ccc;
  cursor: pointer;
  position: relative;
}

.add-service-card .card-body {
  text-align: center;
}

.add-service-card h5 {
  font-size: 30px;
  margin-bottom: 5px;
}

.add-service-card p {
  font-size: 12px;
  margin: 0;
  color: #888;
}

.add-service-card .card-body::before {
  font-size: 36px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
  .service-card {
    width: 100%; /* Set to 100% to take full width on smaller screens */
    height: auto; /* Allow the height to adjust based on content */
  }

  .service-card img {
    height: auto; /* Allow the image height to adjust based on the width */
  }

  .add-service-card {
    width: 20px; /* Adjust the width for smaller screens */
    height: 20px; /* Adjust the height for smaller screens */
  }

  .add-service-card h5 {
    font-size: 20px; /* Adjust the font size for smaller screens */
    margin-bottom: 3px;
  }

  .add-service-card p {
    font-size: 10px; /* Adjust the font size for smaller screens */
  }

  .add-service-card .card-body::before {
    font-size: 24px; /* Adjust the font size for smaller screens */
  }
}
